@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
	}
	.bg-voleimater1 {
		background-color: #003;
	}
	.font-robotocondensed-300 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
	}
	.font-robotocondensed-400 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
	}
	.font-robotocondensed-700 {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
	}
	.font-inter-500 {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
	}
	.font-inter-700 {
		font-family: 'Inter', sans-serif;
		font-weight: 700;
	}
	.font-inter-800 {
		font-family: 'Inter', sans-serif;
		font-weight: 800;
	}
	#logo {
		height: 90px;
	}
	#logo #subtitulo {
		display: none;
	}
	#logo-mobile #logo #subtitulo {
		display: none;
	}
	.pagina {
		padding-top: 105px;
	}
}